<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<body>
	<p:dialog widgetVar="fareTypeDeleteDialogWidget"
		id="fareTypeDeleteDialogId" height="150" width="500" modal="true"
		closable="true" draggable="false" resizable="false">
		<h:form id="fareTypeDeleteDialogForm" prependId="false">
			#{bundle.deleteRecord}: <h:outputText value="#{FareTypeBean.fareType.description}" />
			<br />
			<br />

			<p:commandButton value="#{bundle.delete}" icon="ui-icon-plus"
				action="#{fareTypeBean.deleteFareType()}"
				update=":messageGrowl :fareTypesForm:fareTypesTable"
				oncomplete="closeDialogIfSucess(xhr, status, args, fareTypeDeleteDialogWidget, 'fareTypeDeleteDialogId')" />
			<p:commandButton value="#{bundle.cancel}" icon="ui-icon-cancel"
				actionListener="#{fareTypeBean.resetFareType()}"
				onclick="fareTypeDeleteDialogWidget.hide();" type="button" />
		</h:form>
	</p:dialog>
</body>
</html>
