<?xml version="1.0" encoding="UTF-8"?>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<f:view type="text/html">
	<h:head>
		<title>Airflight Management System</title>
	</h:head>

	<h:body>
		<ui:composition template="template/layout.xhtml">
			<ui:define name="center">
				<h:form prependId="false" id="growlForm">
					<p:growl id="growl" showDetail="false" />
				</h:form>
				<p:panel id="editorPanel">
					<h:form prependId="false" id="dataForm">
						<h:panelGrid columns="2" id="formGrid" toggleable="true"
							toggleSpeed="250">

							<h:outputLabel value="Departure :" />
							<h:outputText value="#{bookingBean.searchDeparture.details}" />

							<h:outputLabel value="Arrival :" />
							<h:outputText value="#{bookingBean.searchArrival.details}" />

							<h:outputLabel value="Arrival :" />
							<h:outputText value="#{bookingBean.searchArrival.details}" />

							<h:outputLabel value="Departure Date :" />
							<h:outputText value="#{bookingBean.departureDate}" />

							<h:outputLabel value="Departure Time :" />
							<h:outputText
								value="#{bookingBean.selectedFlightFare.flightSchedule.departureTime}" />

							<h:outputLabel value="Total :" />
							<h:outputText value="#{bookingBean.booking.total}" />

						</h:panelGrid>
						<p:panel id="data" toggleable="true" toggleSpeed="250">
							<p:dataTable id="list" value="#{bookingBean.passengers}"
								var="passenger" resizableColumns="false" paginator="true"
								paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								rowsPerPageTemplate="5,10,25,50" rows="10">
								<p:column headerText="First Name">
									<h:outputText value="#{passenger.firstName}" />
								</p:column>
								<p:column headerText="Last Name">
									<h:outputText value="#{passenger.lastName}" />
								</p:column>
							</p:dataTable>
						</p:panel>
						<p:panel>
							<p:commandButton id="btnFinish" value="Finish" async="false"
								ajax="false" action="#{bookingBean.saveBooking}" />
						</p:panel>
					</h:form>



				</p:panel>
			</ui:define>
		</ui:composition>
	</h:body>
</f:view>
</html>
