<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/default.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="growlForm">
			<p:growl id="growl" showDetail="false" />
		</h:form>
		<p:panel id="editorPanel">
			<h:form prependId="false" id="dataForm">
				<h:panelGrid columns="3" id="formGrid" toggleable="true"
					toggleSpeed="250">

					<h:outputLabel for="departureAirportSearch" value="Departure :" />
					<p:selectOneMenu id="departureAirportSearch"
						value="#{bookingBean.searchDeparture}" effect="fade"
						converter="#{airportConverter}">
						<f:selectItem itemLabel="Select Departure" itemValue="" />
						<f:selectItems value="#{bookingBean.airports}" var="airport"
							itemLabel="#{airport.details}" itemValue="#{airport}" />
					</p:selectOneMenu>
					<p:message for="departureAirportSearch" display="icon" />

					<h:outputLabel for="arrivalAirportSearch" value="Arrival :" />

					<p:selectOneMenu id="arrivalAirportSearch"
						value="#{bookingBean.searchArrival}" effect="fade"
						converter="#{airportConverter}">
						<f:selectItem itemLabel="Select Arrival" itemValue="" />
						<f:selectItems value="#{bookingBean.airports}" var="airport"
							itemLabel="#{airport.details}" itemValue="#{airport}" />
					</p:selectOneMenu>
					<p:message for="arrivalAirportSearch" display="icon" />

					<h:outputLabel for="bookingType" value="One Way :" />
					<p:selectBooleanCheckbox id="bookingType" value="#{bookingBean.bookingType}" />
					<p:message for="bookingType" display="icon" />

					<h:outputLabel for="departureDate" value="Departure Date * :" />
					<p:calendar id="departureDate" required="true" mode="popup"
						value="#{bookingBean.departureDate}" />
					<p:message for="departureDate" display="icon" />

					<h:outputLabel for="arrivalDate" value="Arrival Date * :" />
					<p:calendar id="arrivalDate" mode="popup"
						value="#{bookingBean.arrivalDate}" />
					<p:message for="arrivalDate" display="icon" />

					<h:outputLabel for="passCount" value="Number of Passenger :" />
					<h:inputText id="passCount" required="false"
						value="#{bookingBean.passCount}" />
					<p:message for="passCount" display="icon" />




					<p:commandButton id="btnSearch" value="Search" async="false"
						ajax="false" action="#{bookingBean.findFlight}" />

				</h:panelGrid>

			</h:form>



		</p:panel>
	</ui:define>
</ui:composition>
