<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="template/layout.xhtml">
	<ui:define name="center">
		<h:form prependId="false" id="growlForm">
			<p:growl id="growl" showDetail="false" />
		</h:form>
		<h:form prependId="false" id="dataForm">
			<p:panel>
				<p:panelGrid id="scheduleGrid" columns="4" styleClass="fareGrid">
					<h:outputLabel value="From Date" />
					<h:outputLabel value="To Date" />
					<h:outputLabel value="Choose Schedule" />
					<h:outputLabel />

					<p:calendar id="fromDateInput" value="#{fromToDateFilter.from}"
						styleClass="calendar" />
					<p:calendar id="toDateInput" value="#{fromToDateFilter.to}"
						styleClass="calendar" />
					<p:selectOneMenu id="flightSchedule"
						value="#{fareBean.selectedFlightSchedule}"
						converter="#{flightScheduleConverter}">
						<f:selectItem itemLabel="Select Flight Schedule" itemValue="" />
						<f:selectItems value="#{filteredFlightSchedulesByDate}"
							var="flightSchedule"
							itemLabel="#{flightSchedule.departureAirport.location} - #{flightSchedule.arrivalAirport.location} on #{flightSchedule.departureDate}"
							itemValue="#{flightSchedule}" />
						<p:ajax update=":dataForm:data" />
					</p:selectOneMenu>
					<p:commandButton value="#{messages.label_filter}"
						action="#{fareBean.filterSchedule}"
						update=":dataForm:scheduleGrid" />
				</p:panelGrid>
			</p:panel>
			<p:panel id="data" toggleable="true" toggleSpeed="250">
				<f:facet name="header">
					<h:outputText value="Fare of Flight Schedule" />
				</f:facet>
				<p:dataTable id="list"
					value="#{fareBean.selectedFlightSchedule.fares}" var="fare"
					resizableColumns="false" paginator="true"
					paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,25,50" rows="10"
					style="text-align:center;">
					<p:columnGroup type="header">
						<p:row>
							<p:column colspan="4"
								headerText="On #{fareBean.selectedFlightSchedule.departureDate} at #{fareBean.selectedFlightSchedule.departureTime}" />
						</p:row>
						<p:row>
							<p:column headerText="Fare Type" style="width:25%;" />
							<p:column headerText="One Way" style="width:20%;" />
							<p:column headerText="Return" style="width:20%;" />
							<p:column headerText="Action" style="width:35%;" />
						</p:row>
					</p:columnGroup>
					<p:column style="text-align:center;">
						<h:outputText value="#{fare.fareType.description}" />
					</p:column>
					<p:column style="text-align:center;">
						<h:outputText value="#{fare.oneWayFare}" />
					</p:column>
					<p:column style="text-align:center;">
						<h:outputText value="#{fare.returnFare}" />
					</p:column>
					<p:column style="text-align:center;">
						<p:commandButton icon="ui-icon-pencil" update=":form:formGrid"
							oncomplete="fareDialog.show()">
							<f:setPropertyActionListener value="#{fare}"
								target="#{fareBean.selectedFare}" />
						</p:commandButton>
						<p:commandButton icon="ui-icon-trash" update=":form:formGrid"
							oncomplete="deleteDialog.show()">
							<f:setPropertyActionListener value="#{fare}"
								target="#{fareBean.selectedFare}" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</p:panel>
			<p:panel>
				<p:commandButton value="#{messages.label_create}"
					onclick="fareDialog.show()"
					update=":form:formGrid :growlForm:growl"
					action="#{fareBean.create}" />
			</p:panel>
		</h:form>

		<p:dialog id="fareEditor" widgetVar="fareDialog" modal="true"
			header="Fare Editor" visible="false">
			<p:ajax event="close" update=":dataForm:data"
				listener="#{fareBean.onClose}" />
			<p:outputPanel id="editorPanel">
				<h:form id="form" enctype="multipart/form-data">
					<h:panelGrid columns="3" id="formGrid">

						<h:outputLabel for="fareTypeInput" value="Fare Type :" />
						<p:selectOneMenu id="fareTypeInput"
							value="#{fareBean.selectedFare.fareType}" effect="fade"
							converter="#{fareTypeConverter}">
							<f:selectItem itemLabel="Select One" itemValue="" />
							<f:selectItems value="#{fareTypes}" var="fareType"
								itemLabel="#{fareType.description}" itemValue="#{fareType}" />
						</p:selectOneMenu>
						<p:message for="fareTypeInput" display="icon" />


						<h:outputLabel for="oneWayFareInput" value="One Way :" />
						<h:inputText id="oneWayFareInput" required="false"
							value="#{fareBean.selectedFare.oneWayFare}" />
						<p:message for="oneWayFareInput" display="icon" />

						<h:outputLabel for="returnFareInput" value="Return :" />
						<h:inputText id="returnFareInput" required="false"
							value="#{fareBean.selectedFare.returnFare}" />
						<p:message for="returnFareInput" display="icon" />

					</h:panelGrid>

					<p:commandButton id="btnSave" value="#{messages.label_save}"
						action="#{fareBean.persist}" oncomplete="fareDialog.hide()"
						update=":dataForm:data :growlForm:growl" />
					<p:commandButton id="btnClose" value="#{messages.label_close}"
						onclick="fareDialog.hide()" type="button" />
				</h:form>
			</p:outputPanel>
		</p:dialog>
		<p:confirmDialog id="deleteEditor" widgetVar="deleteDialog"
			message="#{messages.label_delete_record}"
			header="#{messages.label_confirm_delete}">
			<p:outputPanel id="deletePanel">
				<h:form id="deleteForm">
					<p:commandButton id="deleteYesButton" value="#{messages.label_yes}"
						action="#{fareBean.delete}"
						update=":dataForm:data :growlForm:growl"
						oncomplete="deleteDialog.hide()" />
					<p:commandButton id="deleteNoButton" value="#{messages.label_no}"
						onclick="deleteDialog.hide()" />
				</h:form>
			</p:outputPanel>
		</p:confirmDialog>


	</ui:define>
</ui:composition>
</html>