<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="template/layout.xhtml">
	<ui:define name="center">
		<h:form prependId="false" id="growlForm">
			<p:growl id="growl" showDetail="false" />
		</h:form>
		<h:form prependId="false" id="filterForm">
			<p:panel>
				<p:panelGrid id="scheduleGrid" columns="4" styleClass="legGrid">
					<h:outputLabel value="From Date" />
					<h:outputLabel value="To Date" />
					<h:outputLabel value="Choose Schedule" />
					<h:outputLabel />

					<p:calendar id="fromDateInput" value="#{legBean.fromDate}"
						styleClass="calendar" />
					<p:calendar id="toDateInput" value="#{legBean.toDate}"
						styleClass="calendar" />
					<p:selectOneMenu id="flightSchedule"
						value="#{legBean.selectedFlightSchedule}"
						converter="#{flightScheduleConverter}">
						<f:selectItem itemLabel="Select Flight Schedule" itemValue="" />
						<f:selectItems value="#{filteredFlightSchedulesByDate}"
							var="flightSchedule"
							itemLabel="#{flightSchedule.departureAirport.location} - #{flightSchedule.arrivalAirport.location} on #{flightSchedule.departureDate}"
							itemValue="#{flightSchedule}" />
						<p:ajax update=":legForm:legList :bookingForm:bookingList" />
					</p:selectOneMenu>
					<p:commandButton value="#{messages.label_filter}"
						action="#{legBean.filterSchedule}" update=":filterForm:flightSchedule" />
				</p:panelGrid>
			</p:panel>
		</h:form>
		<h:form prependId="false" id="legForm">
			<p:panel id="legData" toggleable="true" toggleSpeed="250">
				<f:facet name="header">
					<h:outputText value="Leg of Flight Schedule" />
				</f:facet>
				<p:dataTable id="legList" value="#{legBean.selectedFlightSchedule.legs}" var="leg"
					resizableColumns="false"
					paginator="true"
					paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,25,50" rows="10"
					style="text-align:center;">
					<p:columnGroup type="header">
						<p:row>
							<p:column colspan="2"
								headerText="On #{legBean.selectedFlightSchedule.departureDate} at #{legBean.selectedFlightSchedule.departureTime}" />
						</p:row>
						<p:row>
							<p:column headerText="Actual Departure Time" style="width:50%;" />
							<p:column headerText="Actual Arrival Time" style="width:50%;" />
						</p:row>
					</p:columnGroup>
					<p:column style="text-align:center;">
						<h:outputText value="#{leg.actualDepartureTime}">
							<f:convertDateTime pattern="HH:mm" />
						</h:outputText>
					</p:column>
					<p:column style="text-align:center;">
						<h:outputText value="#{leg.actualArrivalTime}">
							<f:convertDateTime pattern="HH:mm" />
						</h:outputText>
					</p:column>
				</p:dataTable>
			</p:panel>
			<p:panel>
				<p:commandButton value="#{messages.label_create}"
					onclick="legDialog.show()" update=":form:formGrid :growlForm:growl"
					action="#{legBean.create}" />
			</p:panel>
		</h:form>
		
		<h:form prependId="false" id="bookingForm">
			<p:panel id="bookingData" toggleable="true" toggleSpeed="250">
				<f:facet name="header">
					<h:outputText value="Booking List" />
				</f:facet>
				<p:dataTable id="bookingList" value="#{legBean.selectedFlightSchedule.bookings}"
					var="booking"
					resizableColumns="false" paginator="true"
					paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,25,50" rows="10"
					style="text-align:center;">
					<p:column headerText="Code">
						<h:outputText value="#{booking.code}" />
					</p:column>
				-- 	<p:column headerText="Date">
						<h:outputText value="#{booking.date}" />
					</p:column>
					<p:column headerText="Type">
						<h:outputText rendered="#{booking.bookingType}" value="One way" />
						<h:outputText rendered="#{!booking.bookingType}" value="Return" />
					</p:column>
					<p:column headerText="Payment Date">
						<h:outputText value="#{booking.payment.date}" />
					</p:column>
					<p:column headerText="Total Passenger">
						<h:outputText value="#{fn:length(booking.passengers)}" />
					</p:column>  -->
				</p:dataTable>
			</p:panel>
		</h:form>

		<p:dialog id="legEditor" widgetVar="legDialog" modal="true"
			header="Leg Editor" visible="false">
			<p:ajax event="close" listener="#{legBean.onClose}" />
			<p:outputPanel id="editorPanel">
				<h:form id="form" enctype="multipart/form-data">
					<h:panelGrid columns="3" id="formGrid">
						<h:outputLabel for="actualDepartureTimeInput"
							value="*Actual Departure Time:" />
						<p:calendar id="actualDepartureTimeInput" required="true"
							value="#{legBean.newLeg.actualDepartureTime}" pattern="HH:mm"
							timeOnly="true" style="width:50%;" />
						<p:message for="actualDepartureTimeInput" display="icon" />

						<h:outputLabel for="actualArrivalTimeInput"
							value="*Actual Arrival Time:" />
						<p:calendar id="actualArrivalTimeInput" required="true"
							value="#{legBean.newLeg.actualArrivalTime}" pattern="HH:mm"
							timeOnly="true" style="width:50%;" />
						<p:message for="actualArrivalTimeInput" display="icon" />
					</h:panelGrid>

					<p:commandButton id="btnSave" value="#{messages.label_save}"
						action="#{legBean.persist}" oncomplete="legDialog.hide()"
						update=":legForm:legData :growlForm:growl" />
					<p:commandButton id="btnClose" value="#{messages.label_close}"
						onclick="legDialog.hide()" type="button" />
				</h:form>
			</p:outputPanel>
		</p:dialog>

	</ui:define>
</ui:composition>
</html>