<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:p="http://primefaces.org/ui"
   template="/WEB-INF/templates/default.xhtml">
   <ui:define name="content">
		<h:form prependId="false" id="growlForm">
			<p:growl id="growl" showDetail="false" />
		</h:form>
		<h:form prependId="false" id="dataForm">
			<p:panel id="data" toggleable="true" toggleSpeed="250">
				<f:facet name="header">
					<h:outputText value="Product" />
				</f:facet>
				<h:outputFormat id="noRecordsFound"
					value="#{messages.label_no_records_found}"
					rendered="#{!productBean.dataVisible}">
					<f:param value="Products" />
				</h:outputFormat>
				<p:dataTable id="list" value="#{productBean.products}" var="product"
					rendered="#{productBean.dataVisible}" resizableColumns="false"
					paginator="true"
					paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,25,50" rows="10">
					<p:column headerText="Name">
						<h:outputText value="#{product.name}"/>
					</p:column>
					<p:column headerText="Price">
						<h:outputText value="#{product.price}"/>
					</p:column>
					<p:column headerText="Action">
						<p:commandButton icon="ui-icon-pencil" 
							update=":form:formGrid"
							oncomplete="productDialog.show()">
							<f:setPropertyActionListener value="#{product}"
								target="#{productBean.selectedProduct}"/>
						</p:commandButton>
						<p:commandButton icon="ui-icon-trash" 
							update=":form:formGrid"
							oncomplete="deleteDialog.show()">
							<f:setPropertyActionListener value="#{product}"
								target="#{productBean.selectedProduct}"/>
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</p:panel>
					<p:panel>
						<p:commandLink value="#{messages.label_create}" 
							action="create" update=":productEditor"
							oncomplete="productDialog.show()"/>
					</p:panel>
		</h:form>
		<p:dialog id="productEditor" widgetVar="productDialog" 
			modal="true"
			header="Product Editor" visible="false">
				<p:outputPanel id="editorPanel">
					<h:form id="form" enctype="multipart/form-data">
						<h:panelGrid columns="3" id="formGrid">
							<h:outputLabel for="nameInput" value="Name * :"/>
							<h:inputText id="nameInput" required="true" value="#{productBean.selectedProduct.name}"/>
							<p:message for="nameInput" display="icon"/>
							<h:outputLabel for="productInput" value="Price :"/>
							<h:inputText id="productInput" required="false" value="#{productBean.selectedProduct.price}"/>
							<p:message for="productInput" display="icon"/>
						</h:panelGrid>
						<p:commandButton id="btnSave" value="#{messages.label_save}"
							action="#{productBean.persist}" update="formGrid :dataForm:data :growlForm:growl"/>
						<p:commandButton id="btnClose" value="#{messages.label_close}"
							onclick="productDialog.hide()" type="button" />
					</h:form>
				</p:outputPanel>
			</p:dialog>
		<p:confirmDialog id="deleteEditor" widgetVar="deleteDialog"
			message="#{messages.label_delete_record}" header="#{messages.label_confirm_delete}">
			<p:outputPanel id="deletePanel">
				<h:form id="deleteForm">
					<p:commandButton id="deleteYesButton" value="#{messages.label_yes}"
						action="#{productBean.delete}"
						update=":dataForm:data :growlForm:growl"
						oncomplete="deleteDialog.hide()" />
					<p:commandButton id="deleteNoButton" value="#{messages.label_no}"
						onclick="deleteDialog.hide()"/>
				</h:form>
			</p:outputPanel>
		</p:confirmDialog>
   </ui:define>
</ui:composition>
