<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:p="http://primefaces.org/ui"
   xmlns:ui="http://java.sun.com/jsf/facelets">
   <h:head>
      <title>Airflight Application</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <h:outputStylesheet name="css/screen.css"/>
   </h:head>
   <h:body>
      <div id="container">
         <div id="content">
         	<h:form prependId="false" id="menuForm">
	         	<p:menubar>
	         		<p:menuitem value="#{messages.label_ticket}" action="ticket_class" async="false" ajax="false"/>
	           	</p:menubar>
         	</h:form>
            <div id="inside">
	            <ui:insert name="content">
	               [Template content will be inserted here]
	            </ui:insert>
            </div>
         </div>
         <div id="footer">
            <h:graphicImage value="/resources/gfx/weld.png" alt="Weld logo"/>
            <p>
               This project was generated from a Maven archetype maintained by the Weld team.<br/>
               Weld is the reference implementation of CDI, released under the Apache License, Version 2.0.<br/>
            </p>
         </div>
      </div>
   </h:body>
</html>
